@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* the blue bar in top*/
.blue-bar {
    height: 40px;
    width:  100%;
    background-color: #13A4C7;
}

/*the header*/

.header
{
    width: 100%;
    box-shadow: 0px 1px 6.9px #70898F;
    position: relative;
    z-index: 200;
}
.container {
    margin: 0 auto;
    max-width: 966px;
    height: 95px;
    height: auto;
}
.h-cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #13A4C7;
    text-align: center;
}
.logo > h1 
{
    font-family: 'ROBOTO' sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    line-height: 42.19px;
}
.logo > span {
   font-weight: 300;
   font-size: 16px;
   line-height: 18.75px;
   letter-spacing: 1.2cap;
}

/* header Links*/

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.nav-links > a {
    text-decoration: none;
    color : black;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    transition: all 0.3s ease-in-out;
}

.nav-links > a:hover
{
    color : #017693;
}

.btn {
    text-decoration: none;
    color : #FFF;
    background: #13A4C7;
    width: 135px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background:#017693;
}

.sec1{
    background-image: url("./assets/bg.jpeg");
    height: 648px;
    background-size: cover;
    object-fit: cover;
    border-radius: 0px 0px 18px 18px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 60;
}
.wrapper{
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, #F8FBFF, #F8FBFF, #eef2f800);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    padding: 80px 120px 0px 120px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.title > span {
    color: #13A4C7;
}
.text{
    font-size:  16px;
    padding:  20px;
}

.card{
    height: 241px;
    width: 255px;
    background:#ffffff5e;
    transform: translateY(50%);
    box-shadow: 0px 4px 11.89px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    flex-direction: column;
    padding: 0 20px;
}

.icon {
    width: 37.12px;
    height: 38.57px;
}

.btn-2 {
    margin-top: 5px;
    width: 122px;
    height: 30px;
    text-decoration: none;
    background: #13A4C7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    font-size:10px;
}
.card-title {
    font-weight: 700;
    font-size: 20px;
}
.card-text {
    font-size: 14px;
    font-weight: 400;
}
.card-container {
    position: absolute;
    z-index: 100;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
}
.btn-3
{
    background: #3F3E3E;
    width:122px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 10px;
    line-height: 21px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.sec2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 896px;
    height: 460px;
    margin: 180px auto 0 auto;
    background : #F8FBFF;
    padding: 40px;
}
.sec2 > h1 {
    font-size: 43px;
    font-weight: 700;
    width: 222px;
    color: #13A4C7;
}

.bg {
    margin: 30px 0;
    background: url("./assets/bg2.jpg");
    height: 157px;
    width: 805px;
}
.sous-bg {
    background: url("./assets/tt.png");
    width: 805px;
    height: 157px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.sbg-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sbg-title {
    font-size: 16px;
    font-weight: 700;
}
.btn-4 {
    text-decoration: none;
    color: white;
    background-color: #13A4C7;
    width: 122px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 700;
    margin: 15px 10px 0px 10px;
}
.sbg-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}
.cercle {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}
.cercle > span {
    font-size: 20px;
    font-weight: 700;
}
.c-1 {
    color : #000;
    background-color: #13A4C7;
}
.c-2 {
    color : #FFF;
    background-color: #3F3E3E;
}
.c-3 {
    color : #000;
    background-color: #FFFFFF;
}
.c-4 {
    color : #FFF;
    background-color: #70898F;
}
.sec2-parag
{
    align-self: center;
}
.sec2-parag > span {
    font-weight: 700;
}

.sec3 {
    position: relative;
    height: 1038px;
    display: flex;
    background: linear-gradient(180deg, #FFFFFF, #fdffff83,#dcdada);
}
.bg-sec3
{
    position: absolute;
    margin-top: 100px;
    height: 1038px;
    width: 100%;
    background-image: url("./assets/bg3.jpg");
    z-index: 20;
    background-repeat: no-repeat ;
    background-size: cover;
}
.sec3-right{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-left: 100px;
}
.sec3-left{
    background-image: url(./assets/bg4.png);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.256) ;
    background-size: cover;
    background-position: center;
    width: 355px;
    height: 445px;
    display: flex;
    z-index: 21;
    position: relative;
}
.con2{
    display: flex;
    margin-top:90px ;
}
.sec3-left > img{
    width: 211px;
    height: 202px;
    border: white 1px;
    border-radius: 12px;
}
.parag{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #13a3c786;
    height: 114px;
    width: 475px;
    display: flex;
    font-size: 24px;
    font-weight: 700;
}
.sec3-right > p
{
    font-size:16px;
    font-weight: 400;
    text-align: left;
    width: 475px;
    height: 120px;
}
.sec3-title{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 43px;
    font-weight: 700;
    text-align: left;
    height: 114px;
    width: 472px;
}
.img1{
    position: absolute;
    bottom: 25px;
    right: 0;
    transform: translate(20%,-10px);
}
.borde{
    width: 13px;
    height: 222px;
    background-color: #13A4C7;
    position: absolute;
}
.borde-l{
    bottom: 0;
    transform: translate(-20px, 13px);
}
.borde-r{
    right: 0;
    transform: translate(20px,-13px);
}

.c{
    position:absolute;
    bottom: 100px;
    display: flex;
    transform: translateX(-20px);
}
.cart-1{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:285px;
    height: 245px;
    box-shadow: 0 4 11.8 #0000002f;
    background-color: rgba(255, 255, 255, 0.583); 
    margin: 20px;
    padding: 40px;
    row-gap: 20px;
    box-shadow: 0px 4px 11.8px rgba(0, 0, 0, 0.25);
}
.cart-1 > p{
    font-size: 16px;
    font-weight: 400;
    height:114px;
    width: 217px;
}
.cart-1 > h3{
    font-size: 16px;
    font-weight: 700;
}
.icon-{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 39.12px;
    height: 39.12px;
}

.sec4{
    display: flex;
    width: 1440px;
    height: 703px;
    margin-top: 100px;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sec4-left-d1{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 472px;
    height:114px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.s1{
    color: #13A4C7;
}

.sec4-left > p{
    margin-top: 50px; 
    text-align: start;
    Width:475px;
    Height:120px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.prg{
    position: relative;
    Width:462px;
    Height:184px;
    background-color: #F8FBFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:0px 1px 13.8px #0000002a;
}
.icon7{
    Width:83px;
    Height:37px;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: 25px;
    right: 20px;
    border-radius: 25px;
}
.y{
    position: relative;
}
.prg > h3{
    margin: 20px 0px 0px 20px;
    Width:307px;
    Height:20px;
    font-size: 16px;
    color: #13A4C7;
}
.one > p{
    font-size: 16px;
    Width:387px;
    Height:40px;
    transform: translateX(8px);
}
.one{
    text-align: start;
    display: flex;
    align-items: center;
    transform: translateX(-25px);
}
.one > span {
    transform: translate(40px,40px);
    Width:63px;
    Height:95px;
    font-weight: 700;
    line-height: 43px;
    font-size: 108px;
    color: #3f3e3e51;
}
.sec4-right{
    color:white;
    position: relative;
    Width:355px;
    Height:445px;
    background-image: url(./assets/img2.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #0000004a;
}
.y{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 150px;
}
.sec4-im{
    z-index: 6;
    position: absolute;
    bottom: 35px;
    transform: translateX(-40%);
    text-align: start;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    Width:100%;
    Height:202px;
    background-color: #13A4C7;
    border: 1px solid rgba(255, 255, 255, 0.62) ;
    border-radius: 12px;
}
.sec4-im > h2{
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.sec4-im > h1{
    font-size: 48px;
    font-weight: 700;
    margin-left: 20px;
}
.border-1{    
    left: 0;
    Width:222px;
    Height:13px;
    background-color: #13A4C7;
    transform: translate(130px,-25px);
}
.border-2{
    Width:13px;
    Height:302px; 
    background-color: #13A4C7;
    transform: translate(-30px,130px);
    z-index: 5;
}
.sec5{
    Width:100%;
    Height:1027px;
    background-color: #F8FBFF;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.con5{
    transform: translateY(-250px);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    height: 1027px;
    margin-top: 300px;
     text-align: center;
    align-items: center;
}

.sec5-title{
    text-transform: uppercase;
    Width:863px;
    Height:60px;
    font-size: 40PX;
    font-weight: 700;
    color: #3F3E3E;
}

.sec5-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 15px;
}

.__{
    transform: translate(22px,-20px);
    color:#13A4C7;
}


.sec5-p{
    text-transform: capitalize;
    display: flex;
    Width:737px;
    Height:66px;
    font-size: 16px;
    font-weight: 400;
    color: #3F3E3E;
    word-spacing: 1px;
}
.sec5-list-li > a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.list1{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #13A4C7;
}
.sec5-d1{
    display: flex;
}

.plants-d{
    transform: translateY(100px);
    width: 100%;
    Height:53px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 20px;
}
.plant{
    Width:310px;
    Height:53px;
    font-size: 11px;
    font-weight: 400;
    text-align: start;
    justify-content: center;
    align-items: center;
    padding-left:6px ;
    display: flex;
    color: white;
    line-height: 11.72px;
    background-color: #13A4C7;
}
.plants-d1{
    transform: translateY(280px);
    width: 100%;
    Height:53px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 20px;
}
.imgp{
    transform: translateY(4px);
    Width:310px;
    Height:189px;
    background-size: cover;
    background-position: center;
}

.sec6{
    Width:100%px;
    Height:1283px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.sec6-d1{
    margin-top: 130px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    row-gap: 30px;
}
.sec6-d1 > div{
    Width:839px;
    Height:38px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color:#35343F;
}
.sec6-title{
    Width:526px;
    Height:47px;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    color: #3F3E3E;
    text-transform: uppercase;
}
.sec6-plant{
    Width:248.81px;
    Height:172.62px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 9px #70898f1c;
}
.sec6-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    row-gap: 30px;
    Width:376px;
    Height:384px;
    background-color: #F8FBFF;
}
.sec6-img{
    margin-left:40px ;
    Width:71.36px;
    Height:67.51px;
    background-color: #13A4C7;
    border-radius: 19px;
}

.sec6-title2{
    margin-left:40px ;
    Width:319px;
    Height:81px;
    line-height: 42.19px;
    color:#13A4C7;
    font-size: 36px;
    font-weight: 700;
}
.plants1{
    display: flex;
}
.sec6-plants{
    Height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec6-p2{
    margin-left:40px ;
    Width:256px;
    Height:113px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.all-tach{
    Height: 384px;
    width: 500px;
    column-gap: 50px;
    margin-top: 80px;
    display: flex;
    padding: 20px;
}
.sec6-rightt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    row-gap: 30px;
    Width:376px;
    Height:384px;
    background-color: #F8FBFF;
}


.sec6-d2{
    background-color: #F8FBFF;
    position: relative;
    Width:966.29px;
    Height:398.28px;

}
.sec6-plantt{
    margin: 0px 10px 0px 20px;
    Width:223.4px;
    Height:154.99px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 9px #70898f1c;
}

.sec6-plantts{ 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p1,.p2{
    width: calc(248.81px + 248.81px + 40px);
    display: flex;
    justify-content: space-between;

}
.sec7{
    Width:100%px;
    Height:764px;
    background-color: #F8FBFF;


}
.sec8{
    Width:100%px;

    padding-top: 120px;
}
.sec7-div1{
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
.sec7-div1 > h1{
    text-transform: uppercase;
    Width:536px;
    Height:50px;
    color: #3F3E3E;
    font-size: 43px;
    font-weight: 700;
}
.sec7-div1 > p{
    font-size: 16px;
    font-weight: 400;
    Width:643px;
    Height:38px;
    line-height: 18.75px;
}
.sec7-div2-1{
    row-gap: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    min-width:285px;
    min-height:342px;
    color: white !important;
    background: linear-gradient(#13a3c7a4,#02303b95);
    border-radius: 14px;
}

.sec7-dev2-2{
    margin: 0px 50px;
    min-Width:285px;
    min-Height:342px;
    background-color: #F8FBFF;
    border-radius: 14px;
    row-gap: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8.5px rgba(21, 174, 212, 0.339)
}
.sec7-div2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateY(200px);
}
.div2-title{
    border-radius: 18px;
    border:1px #F8FBFF solid;
    Width: 178px;
    Height:87px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 10px;
}

.div2-title2{
    border-radius: 18px;
    border:1px #13A4C7 solid;
    Width: 178px;
    Height:87px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 10px;
}

.div-title-sec7{
    font-size: 36px;
    Width:178px;
    Height:20px;
    line-height: 42.19px;
}
.div2-title2 > p{
    margin-top: 10px;
    font-weight: 400;
    text-transform: uppercase;
    Width:61px;
    Height:16px;
    font-size: 14px;
}
.div2-title > p{
    margin-top: 10px;
    font-weight: 400;
    text-transform: uppercase;
    Width:61px;
    Height:16px;
    font-size: 14px;
}

.p{
    text-align: center;
    justify-content: start;
    align-items: center;
    display: flex;

}
.p22{
    text-align: center;
    justify-content: start;
    align-items: center;
    display: flex;

}
.pp{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
}


.btns{
    font-size: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.btnl{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #f8fbff42;
    border-radius: 11px;
    padding: 0 10px;
    min-Width:193px;
    min-Height:22px;
}
.btnl2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    Width:193px;
    Height:22px;
    background-color: #13a3c748;
    padding: 0 10px;
    border-radius: 11px;
}
.botn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    Width:114px;
    Height:27px;
    background-color: #FFF;
    border-radius: 33.5px;
    font-size: 10px;
   line-height: 11.72px;
   font-weight: 400;
   color: #3F3E3E;
   text-transform: uppercase; 
}
.botn2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    Width:114px;
    Height:27px;
    background-color: #13A4C7;
    border-radius: 33.5px;
    font-size: 10px;
   line-height: 11.72px;
   font-weight: 400;
   color:white;
   text-transform: uppercase; 
}
.bg-sec8{
    position: relative;
}
.filter{
    width: 100%;
    height: 943px;
    z-index: 20;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(253, 255, 255, 0.89) 0.01%, rgba(255, 255, 255, 0) 100%);
}
.bg-sec8::after{
    content: ' ';
    display: block;
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    background-image: url("./assets/bg.jpeg");
    opacity: 0.15;
    z-index: 10;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: bottom;
}
.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #3F3E3E;
    column-gap: 50px;
}
.inp {
    width: 218px;
    height: 49px;
    border-radius: 18px;
    border: 0.4px solid #70898F;
    padding: 10px;
}
.form-container{
    flex: 1;
    width: 50%;
}
.input-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.text-area{
    width: 458px;
    height: 221px;
    top: 173px;
    left: 241px;
    border-radius: 18px;
    border: 0.4px;
    border: 0.4px solid #70898F;
    padding: 10px;
    resize: none;
}

.form-desc {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.form-h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}
.inf {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.submit {
    width: 458px;
    height:49px;
    top: 406px;
    left: 241px;
     border-radius: 48px;
    font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    background: #13A4C7;
    cursor: pointer;
    outline: none;
    border: none;
}
.infoss {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 20px;
}
.map-container {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.last-img {
    width: 453px;
    height: 320px;
    border-radius: 12px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62px;
    background: #13A4C7;
    color: white;
    font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
    
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 8px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider::before {
    background-color: #13C725;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #13C725;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.down-btn {
    display: none;
    
}
.nav-mobile{
    display: none;
    transition: all 0.3s ease-in-out;
}
  @media screen and (max-width :  900px ) {
    .container {
        padding: 0  20px;
    }
    .h-cont {
        position: relative;
    }
    .down-btn {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        height : 25px;
        width: 25px;
        background: #13A4C7;
        border-radius: 50%;

    }
    .down-btn > img {
        height: 25px;
        width: 25px;
    }
    .title{
        padding: 0;
    }
    .nav-links {
        display: none;
    }
    .card-container {
        flex-direction: column;
        bottom: 0;
        bottom: -50%;
        row-gap: 20px;
        width: auto;
    }
    .sec2 {
        margin-top: 480px;
        width: auto;
        height: auto;
    }
    .sec2 > h1 {
        font-size: 36px;
    }
    .bg {
        background-image: none;
        width: 100%;
        height: auto;
    }
    .sous-bg {
        height: auto;
        width: 100%;
        background-image: none;
        flex-direction: column;
        row-gap: 20px;
    }
    .sec2-parag{
        align-self: center;
        text-align: center;
    }
    .cercle {
        height: 58px;
        width: 58px;
        font-size: 12px;
    }
    .logo{
        flex: 2;
    }
    .h-cont {
        flex-wrap: wrap;
    }
    .h-open{
        flex-wrap: wrap;
        flex-basis: 100%;
        display: block;
        animation: openHeader 0.3s normal;
        height: 35vh;
        border-top: 2px solid rgba(0, 189, 161, 0.259);
    }
    .h-close {
        display: none ;
        animation: closeHeader 0.3s normal;
    }
    .btn{
        flex: 2;
    }
    .sbg-title {
        font-size: 14px;
    }
    .down > img {
        transition: all 0.6s ease-in-out;
    }
    .open > img {
        transform: rotate(-180deg);
    }
      @keyframes closeHeader {
        0% {height: 35vh;}
        99% {height: 0px;}
        100% {height: 0px;}
    }
    .nav-mobile {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .link-m {
        text-decoration: none;
        color: #000;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid black;
        text-align: center;
    }
    @keyframes openHeader {
        0% {height: 0px;}
        1% {height: 1px;}
        70% {height: 25vh;}
        100% {height: 35vh;}
    }
    .con2 {
        flex-direction: column;
        overflow: hidden;
    }
    .sec3-left{
        align-self: center;
        transform: scale(0.7);
    }
    .sec3-right{
        margin: 0;
    }
    .sec3-title {
        width: auto;
        height: auto;
    }
    .sec3-right > p {
        width: auto;
        height: auto;
    }
    .parag{
        width: auto;
        height: auto;
    }
    .c{
        bottom: -300px;
        width: 100%;
        overflow-x: scroll;
    }
    .sec4 {
        margin-top: 300px;
    }
    .y {
        width: 100%;
        flex-direction: column;
        margin-top: 430px;
        align-items: center;
    }
    .sec4-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sec4-left-d1{
        width: auto;
        text-align: center;
        font-size: 32px;
    }
    .prg {
       width: 80%;
    }
    .prg>h3 {
        font-size: 14px;
        width: 80%;
    }
    .prg>h3{
        font-size: 12px;
    }
    .sec4-left > p {
        width: 100%;
    }
    .sec4-right {
        transform: scale(0.7);
    }
    .con5 {
        margin-top: 580px;
    }
  }