@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* the blue bar in top*/
.blue-bar {
    height: 40px;
    width:  100%;
    background-color: #13A4C7;
}

/*the header*/

.header
{
    width: 100%;
    box-shadow: 0px 1px 6.9px #70898F;
    position: relative;
    z-index: 200;
}
.container {
    margin: 0 auto;
    max-width: 966px;
    height: 95px;
    height: auto;
}
.h-cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #13A4C7;
    text-align: center;
}
.logo > h1 
{
    font-family: 'ROBOTO' sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    line-height: 42.19px;
}
.logo > span {
   font-weight: 300;
   font-size: 16px;
   line-height: 18.75px;
   letter-spacing: 1.2cap;
}

/* header Links*/

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.nav-links > a {
    text-decoration: none;
    color : black;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    transition: all 0.3s ease-in-out;
}

.nav-links > a:hover
{
    color : #017693;
}

.btn {
    text-decoration: none;
    color : #FFF;
    background: #13A4C7;
    width: 135px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background:#017693;
}

.sec1{
    background-image: url("./assets/bg.jpeg");
    height: 648px;
    background-size: cover;
    object-fit: cover;
    border-radius: 0px 0px 18px 18px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 60;
}
.wrapper{
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, #F8FBFF, #F8FBFF, #eef2f800);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    padding: 80px 120px 0px 120px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.title > span {
    color: #13A4C7;
}
.text{
    font-size:  16px;
    padding:  20px;
}

.card{
    height: 241px;
    width: 255px;
    background:#ffffff5e;
    transform: translateY(50%);
    box-shadow: 0px 4px 11.89px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    flex-direction: column;
    padding: 0 20px;
}

.icon {
    width: 37.12px;
    height: 38.57px;
}

.btn-2 {
    margin-top: 5px;
    width: 122px;
    height: 30px;
    text-decoration: none;
    background: #13A4C7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    font-size:10px;
}
.card-title {
    font-weight: 700;
    font-size: 20px;
}
.card-text {
    font-size: 14px;
    font-weight: 400;
}
.card-container {
    position: absolute;
    z-index: 100;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
}
.btn-3
{
    background: #3F3E3E;
    width:122px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 10px;
    line-height: 21px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.sec2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 896px;
    height: 460px;
    margin: 180px auto 0 auto;
    background : #F8FBFF;
    padding: 40px;
}
.sec2 > h1 {
    font-size: 43px;
    font-weight: 700;
    width: 222px;
    color: #13A4C7;
}

.bg {
    margin: 30px 0;
    background: url("./assets/bg2.jpg");
    height: 157px;
    width: 805px;
}
.sous-bg {
    background: url("./assets/tt.png");
    width: 805px;
    height: 157px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.sbg-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sbg-title {
    font-size: 16px;
    font-weight: 700;
}
.btn-4 {
    text-decoration: none;
    color: white;
    background-color: #13A4C7;
    width: 122px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 700;
    margin: 15px 10px 0px 10px;
}
.sbg-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}
.cercle {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}
.cercle > span {
    font-size: 20px;
    font-weight: 700;
}
.c-1 {
    color : #000;
    background-color: #13A4C7;
}
.c-2 {
    color : #FFF;
    background-color: #3F3E3E;
}
.c-3 {
    color : #000;
    background-color: #FFFFFF;
}
.c-4 {
    color : #FFF;
    background-color: #70898F;
}
.sec2-parag
{
    align-self: center;
}
.sec2-parag > span {
    font-weight: 700;
}

.sec3 {
    position: relative;
    height: 1038px;
    display: flex;
    background: linear-gradient(180deg, #FFFFFF, #fdffff83,#dcdada);
}
.bg-sec3
{
    position: absolute;
    margin-top: 100px;
    height: 1038px;
    width: 100%;
    background-image: url("./assets/bg3.jpg");
    z-index: 20;
    background-repeat: no-repeat ;
    background-size: cover;
}
.sec3-right{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-left: 100px;
}
.sec3-left{
    background-image: url(./assets/bg4.png);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.256) ;
    background-size: cover;
    background-position: center;
    width: 355px;
    height: 445px;
    display: flex;
    z-index: 21;
    position: relative;
}
.con2{
    display: flex;
    margin-top:90px ;
}
.sec3-left > img{
    width: 211px;
    height: 202px;
    border: white 1px;
    border-radius: 12px;
}
.parag{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #13a3c786;
    height: 114px;
    width: 475px;
    display: flex;
    font-size: 24px;
    font-weight: 700;
}
.sec3-right > p
{
    font-size:16px;
    font-weight: 400;
    text-align: left;
    width: 475px;
    height: 120px;
}
.sec3-title{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 43px;
    font-weight: 700;
    text-align: left;
    height: 114px;
    width: 472px;
}
.img1{
    position: absolute;
    bottom: 25px;
    right: 0;
    transform: translate(20%,-10px);
}
.borde{
    width: 13px;
    height: 222px;
    background-color: #13A4C7;
    position: absolute;
}
.borde-l{
    bottom: 0;
    transform: translate(-20px, 13px);
}
.borde-r{
    right: 0;
    transform: translate(20px,-13px);
}

.c{
    position:absolute;
    bottom: 100px;
    display: flex;
    transform: translateX(-20px);
}
.cart-1{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:285px;
    height: 245px;
    box-shadow: 0 4 11.8 #0000002f;
    background-color: rgba(255, 255, 255, 0.583); 
    margin: 20px;
    padding: 40px;
    row-gap: 20px;
    box-shadow: 0px 4px 11.8px rgba(0, 0, 0, 0.25);
}
.cart-1 > p{
    font-size: 16px;
    font-weight: 400;
    height:114px;
    width: 217px;
}
.cart-1 > h3{
    font-size: 16px;
    font-weight: 700;
}
.icon-{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 39.12px;
    height: 39.12px;
}

.sec4{
    display: flex;
    width: 1440px;
    height: 703px;
    margin-top: 100px;
    background-color: #FFFFFF;
    
}
.sec4-left > h1{
    display: flex;
    text-align: start;
    width: 472px;
    height:114px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.sec4-left > span{

}
.sec4-left > p{
    margin-top: 50px; 
    text-align: start;
    Width:475px;
    Height:120px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.prg{
    Width:462px;
    Height:184px;
    background-color: #F8FBFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:0px 1px 13.8px #0000002a;
}
.y{
    position: relative;
}
.prg > h3{
    margin: 20px 0px 0px 20px;
    Width:307px;
    Height:20px;
    font-size: 16px;
    color: #13A4C7;
}
.one > p{
    font-size: 16px;
    Width:387px;
    Height:40px;
    transform: translateX(8px);
}
.one{
    text-align: start;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    transform: translateX(-25px);
}
.one > span {
    transform: translate(40px,40px);
    Width:63px;
    Height:95px;
    font-weight: 700;
    line-height: 43px;
    font-size: 108px;
    color: #3f3e3e51;
}
.sec4-right{
    color:white;
    position: relative;
    Width:355px;
    Height:445px;
    background-image: url(./assets/img2.jpeg);
    background-size: cover;
    background-position: center;
    
    border-radius: 12px;
    box-shadow: 0px 4px 4px #0000004a;
}
.y{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 150px;
}
.sec4-im{
    z-index: 6;
    position: absolute;
    bottom: 35px;
    transform: translateX(-40%);
    text-align: start;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    Width:211px;
    Height:202px;
    background-color: #13A4C7;
    border: 1px solid rgba(255, 255, 255, 0.62) ;
    border-radius: 12px;
}
.sec4-im > h2{
    margin-left: 20px;
}
.sec4-im > h1{
    font-size: 48px;
    font-weight: 700;
    margin-left: 20px;
}
.border-1{    
    left: 0;
    Width:222px;
    Height:13px;
    background-color: #13A4C7;
    transform: translate(130px,-25px);
}
.border-2{
    Width:13px;
    Height:302px; 
    background-color: #13A4C7;
    transform: translate(-30px,130px);
    z-index: 5;
}